/*  Page sports*/

.wrapp{
    background-color: #343A40 ;
    padding-bottom: 25em;
}

.wrapp h1{
    color : white;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, serif;
}

h1{
    text-align: center;
    color : white; 
    padding-top : 1em;
    padding-bottom: 1em;
}

hr{
    border : solid 0.5px grey;
}

h6{
    text-align: left;
}

@media screen and (max-width: 550px) {
    h6 {
        font-size : 12px;  
    }
}

img {
    width : 10em;
    height : 10em;
}

@media screen and (min-width: 700px){
    .sports .alignementsport:hover {
        transform: scale(1.1);
        box-shadow: 3px 3px 3px grey;
    }
}

  @media screen and (max-width: 650px) {
    img {
        width : 8.2em;
        height : 8.2em;
    }
}

@media screen and (min-width: 720px) {
    .sports {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
    }
}

.alignementsport{
    display: flex;
    margin-left: 2em;
    border-bottom: solid grey;
    padding-bottom: 1em;
}

@media screen and (min-width: 720px){
    .alignementsport{
        margin-top: 2em;
        margin-right : 1em;
        margin-left : 1em;
        width : 20em;
        padding-bottom: 0em;
        border : solid grey;
    }
}

.infosport{
    display: flex;
    justify-content : center;
    padding-left: 0.5em;
    padding-top: 1em;
    color: white;
    font-family: Arial, Helvetica, serif;
}


/*  Page view  */

.wrapp{
    background-color: #343A40;
}

.head{
    display:flex;
    padding-bottom: 2em;
}

.titre{
    color: white;
    background-color: red;
    width: 60vw;
    height: 10vh;
    padding-top: 13vh;
}
.titre h1{
    text-align: right;
}

a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, serif;
}

.textesport img{
    width: 70%;
    height: 50%;
    text-align:center;
    padding-top: 2em;
}

.connexion{
    color:white;
    width: 40vw;
    height: 10vh;
    padding-top: 5vh;
    padding-left: 3vw;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 15px;
    }
}

hr{
    border : solid 0.5px grey;
}

p{
    color:white;
    text-align: left;
}

@media screen and (max-width: 500px) {
    p {
        font-size: 12px;
    }
}

.textesport p{
    padding : 2em;
}
